@model HARMIC.Models.TbProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xóa menu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Xóa menu</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Create">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tiêu đề:</label>
                                    @Html.DisplayFor(Model => Model.Title)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Alias:</label>
                                    @Html.DisplayFor(Model => Model.Alias)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Danh mục:</label>
                                    @Html.DisplayFor(Model => Model.CategoryProductId)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mô tả:</label>
                                    @Html.DisplayFor(Model => Model.Description)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Chi tiết:</label>
                                    @Html.DisplayFor(Model => Model.Detail)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Xóa ảnh:</label>
                                    <button type="button" class="btn btn-danger" onclick="deleteImage()">Xóa ảnh</button>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Giá:</label>
                                    @Html.DisplayFor(Model => Model.Price)
                                </div><div class="form-group">
                                    <label for="exampleInputPassword1">Giá giảm:</label>
                                    @Html.DisplayFor(Model => Model.PriceSale)
                                </div><div class="form-group">
                                    <label for="exampleInputPassword1">Số lượng:</label>
                                    @Html.DisplayFor(Model => Model.Quantity)
                                </div><div class="form-group">
                                    <label for="exampleInputPassword1">SP mới:</label>
                                    @Html.DisplayFor(Model => Model.IsNew)
                                </div><div class="form-group">
                                    <label for="exampleInputPassword1">Bán chạy:</label>
                                    @Html.DisplayFor(Model => Model.IsBestSeller)
                                </div><div class="form-group">
                                    <label for="exampleInputPassword1">Sao:</label>
                                    @Html.DisplayFor(Model => Model.Star)
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Hiện:</label>
                                    @Html.DisplayFor(Model => Model.IsActive)
                                </div>
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="ProductId" />
                                    <input type="submit" value="Xóa" class="btn btn-danger" /> |
                                    <a asp-action="Index" class="btn-primary"> Quay lại</a>
                                </form>
                                <!-- /.card-body -->
                        </form>
                        <!-- /.card -->

                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">

                        <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

